form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

#titulo {
    margin-bottom: 3.5rem;
    width: 100%;
}

img {
    width: 100%;
}

mat-form-field {
    width: 100%;
}


button {
   width: 95%; 
}

#button-alterar-imagem {
    margin-bottom: 1rem;
    width: auto;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
}

mat-card mat-form-field {
    width: 100%;
}

#card-material {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    background-color: #fff;
    align-items: center;
    padding: 1rem;
}

mat-card-content {
    width: 100%;
    margin-bottom: 1rem;
}

#tabela {
    margin-bottom: 3.5rem;
    padding: 0.5rem;
    background-color: #fff;
}

table {
    background-color: #fff;
}

a {
    padding: 0.5rem;
}


@media (min-width: 768px) {
    #card-material {
        width: 20%;
    }

    mat-form-field  {
        width: 35%;
    }
    #titulo {
        width: 35%;
    }
    button {
        width: 32%; 
    }
    #tabela {
        width: 50%;
        margin-bottom: 3rem;
    }
}








