<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>

    <div id="titulo">
        <h2>Registro de reposição de material</h2>
        <hr>
    </div>
    

    <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select name="grupo" ngModel (selectionChange)="onGrupoSelecionado($event)">
            @for (grupo of grupos; track grupo.id) {
                <mat-option [value]="grupo.id">
                    {{ grupo.nome }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Material</mat-label>
        <mat-select name="material" ngModel (selectionChange)="onMaterialSelecionado($event)">
            @for (material of materiais; track material.id) {
                <mat-option [value]="material">
                    {{ material.nome }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    @if (imagemDoMaterialSelecionado) {
        <mat-card id="card-material">
            <img mat-card-image [src]="imagemDoMaterialSelecionado">
            <mat-card-content>
                <p><b>Material: </b>{{materialSelecionado?.nome}}</p>
                <hr>
                <p><b>Valor unitário: </b>{{materialSelecionado?.preco | currency:'BRL'}}</p>
                <hr>
                <p><b>Disponível em estoque: </b>{{ materialSelecionado?.quantidadeEmEstoque }}</p>
            </mat-card-content>
        </mat-card>  
        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput
                type="number" 
                name="quantidade"
                [(ngModel)]="quantidade"
                placeholder="0" inputmode="numeric"
                min="1">
        </mat-form-field>
        <button matButton >Adicionar</button>
    }
</form>

<form (ngSubmit)="finalizarPedido()">
@if (itensDoPedido.length > 0) {
    <mat-card id="tabela">
        <table mat-table [dataSource]="itensDoPedido">
            <ng-container matColumnDef="Nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let item"> {{item.material.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="Quantidade">
                <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                <td mat-cell *matCellDef="let item"> {{item.quantidade}} </td>
            </ng-container>
            <ng-container matColumnDef="Valor total">
                <th mat-header-cell *matHeaderCellDef>Valor total</th>
                <td mat-cell *matCellDef="let item"> {{item.valorTotal | currency:'BRL'}} </td>
            </ng-container>
            <ng-container matColumnDef="Remover">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item"><a mat-stroked-button (click)="removerItem(item)">Remover</a></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="colunasDaTabelaDeItens"></tr>
            <tr mat-row *matRowDef="let row; columns: colunasDaTabelaDeItens;"></tr>
        </table>
    </mat-card>
    <button matButton="filled">Finalizar pedido</button>    
       
} 
</form>
<a #tabelaDeItens></a>  









