form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

#titulo {
    margin-bottom: 3.5rem;
    width: 100%;
}


h1 {
    margin-bottom: 3.5rem;
}

mat-form-field {
    width: 100%;
}

#btn-listar {
   width: 95%; 
   margin-top: 3.5rem;
}

button {
   width: 50%;  
}

div {
    margin-bottom: 3.5rem;
    width: 95%;
}

@media (min-width: 768px) {
    mat-form-field  {
        width: 35%;
    }
    #titulo {
        width: 35%;
    }

    #btn-listar {
        width: 32%; 
    }

    button {
        width: 35%;
    }

    div {
    width: 35%;
}
}