form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

#titulo {
    margin-bottom: 3.5rem;
    width: 100%;
}


h1 {
    margin-bottom: 3.5rem;
}

mat-form-field {
    width: 100%;
}

#btn-listar {
   width: 95%; 
   margin-top: 3.5rem;
}

button {
   width: 50%;  
}

mat-card {
    margin-bottom: 1.5rem;
    width: 95%;
    padding: 1rem;
    background-color: #fff;
}

table {
   background-color: #fff; 
}

#container-btn-confirma {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-confirma {
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    mat-form-field  {
        width: 35%;
    }
    #titulo {
        width: 35%;
    }

    #btn-listar {
        width: 32%; 
    }

    button {
        width: 35%;
    }

    mat-card {
        width: 35%;
    }

    .btn-confirma {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}