form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

#titulo {
    margin-bottom: 3.5rem;
    width: 100%;
}

img {
    margin-top: 3.5rem;
    width: 80%;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

button {
   width: 95%; 
   margin-top: 3.5rem;
}

#button-alterar-imagem {
    margin-top: 0;
    margin-bottom: 3.5rem;
    width: auto;
}

@media (min-width: 768px) {
    img {
        width: 20%;
    }
    #titulo {
        width: 35%;
    }
    mat-form-field  {
        width: 35%;
    }
    button {
        width: 32%; 
    }
}
