div {
    display: flex;
    padding: 0.8rem;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--mat-sys-primary);
}

#logo {
  height: 40px;
}

mat-icon {
  color: #fff;
}






